.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  /* border: 1px solid black; */
  background-color: white;
  width: 200px;
  /* position: absolute;
  top: 20px;
  right: 270px; */
}

.checkbox-container {
  height: 120px;
  overflow-y: scroll;
}

.buttons {
  padding: 5px 0;
  text-align: right;
  /* background-color: #ddd; */
}

.square {
  height: 15px;
  width: 15px;
  display: inline-block;
}

.citation {
  display: flex;
  justify-content: space-between;
}
