.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  /* border: 1px solid black; */
  background-color: white;
  width: 200px;
  /* position: absolute;
  top: 20px;
  right: 270px; */
}

.checkbox-container {
  height: 120px;
  overflow-y: scroll;
}

.buttons {
  padding: 5px 0;
  text-align: right;
  /* background-color: #ddd; */
}

.square {
  height: 15px;
  width: 15px;
  display: inline-block;
}

.citation {
  display: flex;
  justify-content: space-between;
}

.triangle-right-red {
  position: relative;
  color: #ff3300;
}
.triangle-right-green {
  position: relative;
  color: #00ff01;
}
.triangle-right-grey {
  position: relative;
  color: #bdd7ee;
}
.triangle-right-yellow {
  position: relative;
  color: #ffff00;
}

.triangle-right-red::after,
.triangle-right-yellow::after,
.triangle-right-grey::after,
.triangle-right-green::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid currentColor;
  border-bottom: 20px solid transparent;
  z-index: 10;
}
